@model IEnumerable<LancheMac.Models.Lanche>

<div>
	<h2>Todos os Lanhes</h2>
</div>



<div class="container">
	<di class="row">
		@foreach (var lanche in Model)
		{
			<div class="col-sm-4 col-md-4 col-lg-4">
				<p><img src="@lanche.ImageUrl" class="img-fluid" /></p>
				<h3>Preço : @lanche.Preco.ToString("c")</h3>
				<h4>@lanche.Nome</h4>
				<p>@lanche.DescricaoCurta</p>
			</div>

		}
	</di>
</div>